<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Chart.js Example</title>
  <!-- import plugin script -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
</head>

<body>


  <button>ostatnie 30 min</button>
  <button>ostatnie 2h</button>
  <button>ostatnie 12h</button>
  <button>ostatnie 1 dzien</button>
  <button>ostatnie 3 dni</button>

  
  <canvas id="wykres" style="width: 1026; height: 513;"></canvas>
  <script>

    var ctx = document.getElementById("wykres").getContext('2d');
    
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: data = {
        labels: [{% for item in labels %}
    "{{item}}",
        {% endfor %}],

    datasets: [
      {
        type: 'line',
        label: "Temperatura [°C] ",
        fill: false,
        yAxisID: 'y-axis-a',
        lineTension: 0.1,
        backgroundColor: 'rgb(255, 0, 30)',
        borderColor: 'rgb(255, 0, 30)',
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: 'rgb(255, 0, 30)',
        pointBackgroundColor: 'rgb(255, 0, 30)',
        pointBorderWidth: 1,
        pointHoverRadius: 4,
        pointHoverBackgroundColor: 'rgb(255, 0, 30)',
        pointHoverBorderColor: 'rgb(255, 0, 30)',
        pointHoverBorderWidth: 3,
        pointRadius: 5,
        pointHitRadius: 10,
        data: {{ values }},
      spanGaps: false
        },
      {
        type: 'line',
        label: "{{ legend }}",
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(75,192,192,0.4)",
        borderColor: "rgba(75,192,192,1)",
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data: {{ tmp }},
        }]
    },
    options: {
      title: {
        display: true,
          text: 'Share Price - Past 7 Days',
            fontSize: '20',
              fontFamily: 'Open Sans, sans-serif',
          // fontColor
          // fontStyle
          // padding
          // lineHeight
        },
      scales: {
        xAxes: [{
          ticks: {
            min: 0
          }
        }],
          yAxes: [{
            position: "left",
            id: "y-axis-a",
          }]
      }
    }
  });

  </script>
</body>

</html>